.App {
	max-width: 860px;
	margin: 10px auto;
}

button {
	transition: all 0.5s ease;
	font-family: Pixelify Sans, sans-serif;
	background: none;
	padding: 6px 12px;
	border-radius: 4px;
	border: none;
	background: #221e31;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	font-size: 1em;
	margin-bottom: 20px;
}

button:hover {
	transition-delay: 0.5s;
	background: #c23866;
	color: #fff;
}

.card-grid {
	transition: all 0.5s ease;
	margin: 0px 220px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

/* Phone css */

@media screen and (max-width: 680px) {
	.card-grid {
		transition-delay: 0.5s;
		margin: 0px 40px;
		grid-template-columns: repeat(3, 1fr);
	}

	body {
		transition: all ease 0.5s;
		font-size: 1em;
	}
}
